upstream php-upstream {
    server php:9000;
}

server {
    server_name ${servername};
    root /var/www/site/public;

    add_header X-Frame-Options "SAMEORIGIN";
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";

    client_body_buffer_size 16K;
    client_header_buffer_size 1k;
    client_max_body_size 25m;
    large_client_header_buffers 8 16k;

    charset utf-8;

    location / {
        try_files $uri @rewriteapp;
    }

    location @rewriteapp {
        rewrite ^(.*)$ /index.php/$1 last;
    }

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    error_page 404 /index.php;

    location ~ ^/index\.php(/|$) {
        fastcgi_pass php-upstream;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_temp_path /tmp 1 2;
        fastcgi_param HTTPS off;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }

    gzip              on;
    gzip_proxied      any;
    gzip_static       on;
    gzip_types        text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
    gzip_comp_level   7;

    error_log /var/log/nginx/${servername}_error.log;
    access_log /var/log/nginx/${servername}_access.log;
}
